#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#212529; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}

body{
    background-color: rgb(65, 65, 65);
    /*overflow-x: hidden;*/
    overflow: visible;
}


#cont_home{ /*Para o conteúdo de index*/
    background-color: rgb(185, 182, 182);
    overflow-y: auto;
    padding-top: 147px;
    height: 100vh;
}

.texto{
    width: 90%;
}

#main{ /*para conteúdo de atividades*/
    background-color: rgb(185, 182, 182);
    overflow-y: auto;
    padding-top: 48px;
    height: 100vh;
}

.print{
    margin-bottom: 24px;
}

@media (max-width: 768px) 
{
    #cont_home{
        padding-bottom: 48px;
    }

    .print{
        margin-bottom: 48px;
    }
}